<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" href="{%static 'app/css/owl.carousel.min.css'%}" />
    <link rel="stylesheet" href="{%static 'app/css/all.min.css'%}" />
    <link rel="stylesheet" href="{%static 'app/css/style.css'%}" />

    <title>Kit Products | {% block title %}{% endblock title %}</title>

</head>
<body>

     <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{% static "app/images/logo.png"%}" width="350" />
          </a>
          <button class="navbar-toggler" type="butteon" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Stock Jersey
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'category' 'SS' %}">Sports Shirts</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'RS' %}">Regular Shirts</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'TR' %}">Trousers</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'ST' %}">Sports Trouser</a></li>

                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">About</a>
              </li>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'contact' %}">Contact Us</a> 
            </li>
              
              
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
          
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle text-white" href="#"
                id="profileDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Profile</a>
              </a>
              <ul class="dropdown-menu" aria-labelledby="profileDropdownn">
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'address' %}">Address</a></li>
                <li><a class="dropdown-item" href="#">Orders</a></li>
                <li><a class="dropdown-item" href="#">ChangePassword</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
              </ul>
            

          </li>
          <li class="nav-item mx-2">
              <a class="nav-link text-white"  href="#">Cart 4</a>
          </li>

          <li class="nav-item mx-2">
              <a  class="nav-link text-white"  href="#">Wishlist</a>
          </li> 

          <li class="nav-item mx-2">
              <a  class="nav-link text-white" href="{% url 'login' %}">Login</a>
          </li> 

          <li class="nav-item mx-2">
            <a  class="nav-link text-white" href="{% url 'customerregistration' %}">Registration</a>
          </li>


        </ul>
       </div>
    </nav> 

        {% block banner-slider %}{% endblock banner-slider %}
        {% block information %}{% endblock information %}
        {% block main-content %}{% endblock main-content %}

        <footer class="container-fluid fixed-bottom bg-success text-center p-2 mt-5">
          Copyright  :  2023 || Developer : Adeel Technology
        </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>

    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js></script>



    <script script="{% static 'app/js/owl.carousel.min.js' %}"></script>
    <script script="{% static 'app/js/all.min.js' %}"></script>
    <script script="{% static 'app/js/myscript.js' %}"></script>



</body>
</html>