{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3"><br>
            <h3>Reset Password Completed</h3>
            <hr>
            <div>
                <iframe sre="https://giphy.com/gifs/foodtribe-food-tribe-foodtrb-J20kKsn88hYAkpPtHB" width="200" height="200" frameborder="0"
                class="giphy-gifs" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}